<!DOCTYPE HTML>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
 <link rel="stylesheet" type="text/css" href="/static/style.css"/>

 	<title>Jesus Zambrano</title>
</head>
	<body>
	
<div class="header">

    <div class="name">
        <h1>Jesus Zambrano</h1>
        <h4>Software Developer</h4>
        <h5> "What we have to learn to do, we learn by doing." -Aristotle</h5>
    </div>
    
    <dl>
        <dt>Email</dt>
        <dd>jzamb022 at gmail.com</dt>
        <dt><a href="/blog">Personal Blog</a></dt>
        <dt><a href="https://github.com/chuo06/">Github</a></dt>
    </dl>
    
    <div class="clear"></div>
</div>

<div class="experiences">
    <h3>Technical Skills and Knowledge</h3>
    
    <h4><u>Languages:</u></h4>
    <h5>Java, JavaScript, PHP and Python.</h5>
    
    <h4><u>Software & Technologies:</u></h4>
    <h5>HTML, CSS, JQuery, PostgreSQL, MySQL, Google App Engine, UML, Git, JUnit, NetBeans, Eclipse.</h5>
    
    <h4><u>Environments:</u></h4>
    <h5>Microsoft Windows, Linux (Ubuntu) and Mac OSX</h5>
   
    <h3>Work Experience</h3>
    <h4>Web developer at University of Ottawa- SASS IT</h4>
    <h5>January 2013-April 2013</h5>
     <ul>
        <li><a href="http://ventus.sass.uottawa.ca/" target="new">Ventus</a> is a student services web application built by the SASS IT department to optimize the workflows of those</br> working with clients in an educational environment.</li>
        <li>I completely redesigned one of Ventus’ modules so it would follow the MVC pattern. This meant refactoring and </br> cleaning up older code that was poor in quality.</li>
        <li>This also involved improving the structure of a number of the tables in Ventus’ database</li>
        <li>Some of the technologies I used were PHP, MySQL and JavaScript.</li>
     </ul>
    
    
    <h3>Open-Source Projects</h3>
    
    <h4>UMPLE</h4>
    <h5>Winter 2013</h5>
    <ul>
        <li><a href="http://cruise.site.uottawa.ca/umple/" target="new">Umple</a> is a modeling tool and programming language that enables Model-Oriented Programming.</li>
        <li>I increased Umple’s functionality by allowing it to generate papyrus state machines.</li>
        <li>Papyrus is also a UML modeling tool that can be used as a plug-in for eclipse.</li>
        <li><a href="http://code.google.com/p/umple/issues/detail?id=185" target="new">Link </a>to my work.</li>
    </ul>
    <h4>Review Board</h4>
    <h5>Fall 2012</h5>
    <ul>
        <li><a href="http://www.reviewboard.org/" target="new"> Review Board</a> is a web-based collaborative code review tool.</li>
        <li>I reduced the amount of full-page reloads on some of areas of the UI to make Review Board more AJAX like.</li>
        <li>This was done using JQuery, JavaScript and the Django templating language.</li>
    </ul>
    
    <h3>Side Projects</h3>
    <h4><a href="/blog">Personal Blog</a></h4>
    <h5>Winter 2013</h5>
    <ul>
      <li>Implemented a basic blog with the help of the web development <a href="https://www.udacity.com/course/cs253">Udacity</a> course.</li>
      <li>Some of its features are user registration and JSON generation.</li>
      <li>This project was implemented using Python,Google App Engine and Jinja templates.</li>
   </ul>
       
    <h3>University Projects</h3>
    <h4>CSI4107- Information Retrieval</h4>
    <h5>Winter 2013</h5>
    <ul>
      <li>Implemented an Information Retrieval system with the help of a partner.</li>
      <li>I particularly worked on preprocessing the text entries to obtain the index terms.</li>
      <li>This meant filtering out markup, stop words and punctuation as well as stemming the index terms.</li>
      <li>I then built an inverted index for these terms with the help of the Xapian library. </li>
      <li>This project was implemented using Python.</li>
   </ul>
   
    <h4>CSI2132- Databases Ι</h4>
    <h5>Winter 2012</h5>
    <ul>
      <li>Designed a sales database for an online store. I particularly worked on writing several queries</br> and implementing a GUI so that the user could run these queries.</li>
      <li>I also worked on designing the relational model as well as creating and populating the tables using PostgreSQL.</li>
    </ul>
    
    <h4>SEG3125- User Interface Design and Analysis </h4>
    <h5>Winter 2012</h5>
    <ul>
      <li>Redesigned a research lab’s website of the University Of Ottawa.</li>
      <li>Tasks included gathering requirements from the client, client interviews and preliminary design.</li>
    </ul>
    
   
    
</div>


<div class="details">
    <div class="hobbies half">
        <h3>Hobbies</h3>
        
        <h5>Sports</h5>
        <ul>
            <li>Soccer: I regularly participate is summer leagues.</li>
            <li>Biking: A picture of<a href=/images/biking.jpg target="new"> me</a> biking to Gatineau Park.</li>
        </ul>
        
        <h5>General</h5>
        
        <ul>
            <li>Cooking: crock pots are the best!</li>
            <li>Video Games</li>
        </ul>
    </div>
    
    <div class="education half">
        <h3>Education</h3>
            <dl>
                <dt>School</dt>
                <dd>University of Ottawa</dd>
            
                <dt>Major</dt>
                <dd>BASc in Software Engineering/Management and Entrepreneurship option</dd>
            
                <dt>Expected Graduation Date</dt>
                <dd>April 2013</dd>
            </dl>
     </div>
</div>

</div>
	</body>
</html>